cluster-setup/prometheus-remote-token.txt
monitoring-stack/ksm-kubeconfig
monitoring-stack/prometheus-remote-token.txt
monitoring-stack/jaeger-data/
cluster-setup/node-ips.env
cluster-setup/k3s-node-token.txt
monitoring-stack/file_sd/kubelet-targets.json