network_name = "Public_Net"

network_id = "c3455e8f-ea16-4f5d-ad5e-5c4292015a0d"

network_cidr = "192.168.120.0/23"

key_pair = "NT505"

image_id = "a04bdcd9-40e7-40ba-bd21-7d410965e3a3"

security_group_name = "k8s-cluster-sg"

assign_floating_ip = false

# Current quota:
# 3 nodes / 6 vCPU / 12 GB RAM
#
# If quota becomes 4 instances / 10 vCPU / 20 GB RAM,
# replace nodes with:
#
# [
#   {
#     name         = "node-control"
#     flavor       = "gp.medium-2c"
#     disk_size_gb = 40
#     role         = "control"
#   },
#   {
#     name         = "node-app"
#     flavor       = "gp.large-4c"
#     disk_size_gb = 100
#     role         = "app"
#   },
#   {
#     name         = "node-observability"
#     flavor       = "gp.medium-2c"
#     disk_size_gb = 100
#     role         = "observability"
#   },
#   {
#     name         = "node-loadgen"
#     flavor       = "gp.medium-2c"
#     disk_size_gb = 60
#     role         = "loadgen"
#   }
# ]

nodes = [
  {
    name         = "node-app"
    flavor       = "gp.medium-2c"
    disk_size_gb = 70
    role         = "app"
  },
  {
    name         = "node-observability"
    flavor       = "gp.medium-2c"
    disk_size_gb = 70
    role         = "observability"
  },
  {
    name         = "node-loadgen"
    flavor       = "gp.medium-2c"
    disk_size_gb = 60
    role         = "loadgen"
  }
]